[submodule "testing_h"]
	path = testing_h
	url = https://github.com/djpiper28/testing.h
[submodule "strptime"]
	path = strptime
	url = https://github.com/djpiper28/strptime
[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose
[submodule "frontend/public/manamoji"]
	path = frontend/public/manamoji
	url = https://github.com/scryfall/manamoji-discord.git
[submodule "re2"]
	path = re2
	url = https://github.com/google/re2
[submodule "packcc"]
	path = packcc
	url = https://github.com/arithy/packcc
[submodule "abseil"]
	path = abseil
	url = https://github.com/abseil/abseil-cpp
